@import "settings";
@import "foundation";
@import "font-awesome";

body,html {
  min-height: 100%;
}

body {
  background-color: $vapor;
}

.text-typewriter {
  font-family: $font-family-typewriter;
}

.row.full-width {
    max-width: 100%
}

.banner {
  min-height: 25rem;
  /* banner-small will be overwritten by interchange if javascript is running */
  background: #568259 url("/assets/images/banner-small.jpg") no-repeat scroll center center / cover;

  position: relative;

  .banner-content {
    position: absolute;
    right: 0; bottom: 0; left: 0;

    h1 {
      color: $white-smoke;
    }
  }
}

.index-panel {
  background-color: $ghost;
  box-shadow: 1px 1px 4px 1px $iron;

  &:hover, &:active {
    background-color: scale-color($primary-color, $lightness: 75%);
    box-shadow: 1px 1px 6px 2px $base;
  }

  h4 {
    padding: $column-gutter;
  }
}

.panel {
  border: none;
  background-color: $smoke;
}

.summary {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.row.without-centering {
  margin: 0;
}

.breadcrumbs-wrapper {
  background-color: $crumb-bg;
}

.dial-container{
    position: relative;

    .dial {
        width: 100%;
    }

    .hand {
        position: absolute;
        bottom: 5%;
        top: 10%;
        left: 50%;
        width: 12px;
        background-color: black;
        transform-origin: center 103%;
    }
}

body.index-page {
    background: url(/assets/images/sky-background-large.jpg) top center no-repeat #18111e;

    .heading {
        padding: 2rem 0;

        @media #{$medium-only} {
            padding: 4rem 0;
        }

        @media #{$large-up} {
            padding: 6rem 0;
        }


        h1 {
            color: $ghost;

            small {
               color: $base;
            }
        }
    }

    .content {
        background: $ghost;
    }
}

.icon {
    display: inline-block;
    width: 2em;
    text-align: center;
}