twitter: {
  consumer_key: ,
  consumer_secret: ,
  access_token: ,
  access_secret: ,
  screen_name: #optional
}

smtp: {
  host:
  port:
  ssl:
  tls:
  user:
  password:
}

email: {
  from: ,
  to: [  ],
}

users: { }