@import uk.co.goblinoid.twitter.Tweet
@import uk.co.goblinoid.GameState
@import play.api.libs.json.{JsValue, Json}
@import java.time.format.{DateTimeFormatter}
@import java.time.ZoneId


@(gameState: GameState, tweets: Seq[Tweet])

@main("Watch the Skies - York Science Fiction and Fantasy Society", Seq(routes.Assets.versioned("javascripts/status.min.js"))) {
<div class="row">
	<div class="small-12 large-3 large-push-9 columns">
		@status.worldTerror(gameState.terrorRank)
		<h1>Latest News</h1>

		@for(tweet <- tweets) {
			<div class="panel" data-tweet-id="@tweet.id">
				<p>@tweet.text</p>
				<p class="text-right">@tweet.posted.format(DateTimeFormatter.ofPattern("H:mm:ss").withZone(ZoneId.systemDefault()))</p>
			</div>
		}
	</div>
	<div class="small-12 large-9 large-pull-3 columns">
		<div class="panel">
			<div class="row">
				<div class="small-12 large-6 columns text-center">
					<h1>Turn: @gameState.turn</h1>
				</div>
				<div class="small-12 large-6 columns text-center">
					<h1>Phase: @gameState.phase</h1>
				</div>
			</div>
		</div>
		<div class="row">
			@for((country_name, countryPR) <- gameState.countryPRs) {
				<div class="small-6 large-3 columns">
					<div class="panel">
						<h1 class="text-center"><small>@country_name</small></h1>
						<h1 class="text-center">@countryPR.pr</h1>
						<h2 class="text-center">
							@for((pr, income) <- countryPR.incomeLevels) {
								@if(pr == countryPR.pr) {
									<strong>@income</strong>
								} else {
									<small>@income</small>
								}
							}
						</h2>

					</div>
				</div>
			}
		</div>
	</div>
</div>
}
