@import helper._
@import uk.co.goblinoid.EmailActor.SendRegistrationEmail

@(emailForm: Form[SendRegistrationEmail])(implicit flash: Flash, messages: Messages)

@main(bodyClass = "with-stars") {

    <div class="row heading">
        <div class="small-12 columns">
            <h1 class="text-center">
                <small>York Science Fiction and Fantasy Society Presents</small><br>
                <span class="text-typewriter">Watch the Skies</span><br>
                <small>Saturday Week 6, 7th November 2015</small>
            </h1>
        </div>
    </div>
    <div class="content">
        <div class="row">
            @flash.get("type") match {
                case Some(alertType) => {
                    <div class="small-12 columns">
                        <div data-alert class="alert-box @alertType">
                            <span class="icon @flash.get("icon")"></span>
                            <strong>@flash.get("type").map(_.capitalize):</strong>
                            @flash.get("message").getOrElse(alertType)
                            <a href="#" class="close">&times;</a>
                        </div>
                    </div>
                }
                case None => {  }
            }

            <div class="small-12 medium-6 columns">
                <h2>A Megagame of Alien Terror</h2>

                <p class="lead">
                    Join sixty other players as world leaders responding to the alien menace.
                </p>
                <p>
                    Be one of the Diplomats, Generals, and Scientists working to protect their
                    country, and the world, from the threat. Or play as one of the other
                    roles in the game. Be a member of the press or one of the mysterious
                    invading aliens.
                </p>
                <p>
                    The game will run from 9am on Saturday, Week 6 (7th November). There are sixty
                    player slots available, contact us to book your place.
                </p>

            </div>

            <div class="small-12 medium-6 columns">
                <h2 class="medium-text-right">Interested?</h2>
                <p>Fill in the form or send us an email and we'll send you details of how to book.</p>
                <div class="panel">
                    @form(action = routes.Application.sendEmail()) {
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row">
                                    <div class="small-3 large-2 columns">
                                        <label for="name-input" class="inline right @if(emailForm("name").hasErrors){ error }">
                                            Name:
                                        </label>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        <input type="text" name="name" id="name-input"
                                               value="@emailForm("name").value"
                                               placeholder="How do you want us to refer to you?"
                                               @if(emailForm("name").hasErrors){ class="error" }
                                        >
                                        @for(error <- emailForm("name").errors) {
                                            <small class="error">@Messages(error.message)</small>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-3 large-2 columns">
                                        <label for="email-input" class="inline right@if(emailForm("email").hasErrors){ error }">
                                            Email:
                                        </label>
                                    </div>
                                    <div class="small-9 large-10 columns">
                                        <input type="text" name="email" id="email-input"
                                               value="@emailForm("email").value"
                                               placeholder="Please enter your email..."
                                               @if(emailForm("email").hasErrors){ class="error" }
                                        >
                                        @for(error <- emailForm("email").errors) {
                                            <small class="error">@Messages(error.message)</small>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns text-right">
                                        <button class="button primary no-gap" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 medium-4 large-4 columns">
                        You can get in touch using
                    </div>
                    <div class="small-12 medium-5 large-4 columns medium-text-right">
                        <a href="mailto:WTSYorkUni@@gmail.com">
                            <span class="fa fa-envelope-o icon"></span> WTSYorkUni@@gmail.com
                        </a>
                    </div>
                    <div class="small-12 medium-3 columns medium-text-right">
                        <a href="https://www.facebook.com/events/899916173428741/">
                            <span class="fa fa-facebook icon"></span> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
